.loader {
  position: absolute;
  top: calc(50% - 45px);
  right: calc(50% - 45px);
  border: 12px solid rgba(0,0,0,0);
  border-top: 12px solid #3498db;
  border-bottom: 12px solid #3498db;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
