.main {
  position:absolute;
  top:5vh;
  right: 40vw;
  margin-top: 25vh;
  display: flex;
  height: 40vh;
  width: 20vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.disabled {
  pointer-events: none;
  opacity: .4;
}

